.order-page {
  background-color: #f8fafc;
  min-height: 90vh;

  .orders-list {
    .card {
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      }

      .product-name {
        &:hover {
          color: #007bff;
        }
      }
    }
  }

  .btn {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: translateY(-2px);
    }
  }
}
