.order-detail-page {
  background: #f8f9fa;
  min-height: 90vh;

  h3,
  h5 {
    color: #1d3557;
  }

  .text-decoration-none {
    color: black;
    :hover {
      color: #1d3557;
      cursor: pointer;
    }
  }
  .table {
    border-radius: 10px;
    overflow: hidden;
  }
  .product-td {
    &:hover {
      background-color: #f1f5ff;
    }

    .product-link {
      text-decoration: none;
      color: #212529;
      font-weight: 500;
    }

    &:hover .product-link {
      color: #0a58ca;
    }
  }

  .badge {
    font-size: 0.75rem;
  }

  .progress {
    font-size: 0.75rem;
  }
}
