.order-detail-page {
  background: #f8f9fa;
  min-height: 90vh;

  h3,
  h5 {
    color: #1d3557;
  }

  .table {
    border-radius: 10px;
    overflow: hidden;
  }

  .badge {
    font-size: 0.75rem;
  }

  .progress {
    font-size: 0.75rem;
  }
}
