.register-page {
  background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
  min-height: 100vh;

  .register-card {
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    transition: all 0.3s ease;
    padding: 10px 25px;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

    h3 {
      letter-spacing: 0.5px;
      color: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%) !important;
    }

    .form-label {
      font-weight: 600;
      color: #495057;
    }

    .form-control {
      border-radius: 12px;
      padding: 10px 14px;
      border: 1px solid #ced4da;
      transition: all 0.2s ease;

      &:focus {
        border-color: linear-gradient(
          90deg,
          #4facfe 0%,
          #00f2fe 100%
        ) !important;
        box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
      }
    }

    button[type="submit"] {
      background: linear-gradient(135deg, #007bff, #6610f2);
      border: none;
      transition: 0.3s;
      box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
