.order-history-page {
  background: #f8f9fa;
  min-height: 90vh;

  h3 {
    color: #1d3557;
  }

  .table {
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
  }

  .badge {
    font-size: 0.65rem;
  }

  .btn-outline-primary {
    &:hover {
      background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
      color: white;
      border: none;
    }
  }

  td,
  th {
    vertical-align: middle;
  }
}
