.homepage {
  width: 100% !important;
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  > div {
    margin-bottom: 0.5rem !important;
  }

  section {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
}
