.cart-page {
  background: #f8f9fa;
  min-height: 90vh;

  .cart-title {
    background: linear-gradient(90deg, #007bff 0%, #00c6ff 100%);
    color: #fff;
    box-shadow: 0 3px 8px rgba(0, 123, 255, 0.3);
  }

  .title-underline {
    width: 60px;
    height: 4px;
    background: #007bff;
    border-radius: 2px;
  }

  table {
    th {
      background-color: #007bff !important;
      color: white !important;
      border: none;
    }
  }
  .table-hover tbody tr:hover {
    background-color: #f0f8ff !important;
    transform: scale(1.01);
    transition: 0.2s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .product-name-link {
    color: #000;
    text-decoration: none;
    transition: 0.2s ease;
  }

  .product-name-link:hover {
    color: #0d6efd; /* màu xanh Bootstrap */
    transform: scale(1.02); /* phóng nhẹ */
  }

  .btn-outline-primary:hover {
    background: #007bff;
    color: #fff;
  }
}
