.mid-banner {
  background: #fff;
}

.tgdd-banner {
  border-radius: 12px;
  overflow: hidden;

  img {
    width: 100%;
    height: 300px; // TGDD desktop
    object-fit: cover; // không méo
    display: block;
  }
}

/* Tablet */
@media (max-width: 992px) {
  .tgdd-banner img {
    height: 240px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .tgdd-banner {
    border-radius: 8px;
  }

  .tgdd-banner img {
    height: 160px;
  }
}
