.newsletter {
  .newsletter-wrap {
    background: linear-gradient(90deg, #fff 0%, #f7fbff 100%);
    border-radius: 12px;
    padding: 30px;
    text-align: center;

    h4 {
      font-weight: 700;
      margin-bottom: 6px;
    }
    p {
      color: #666;
      margin-bottom: 14px;
    }

    form {
      max-width: 720px;
      margin: 0 auto;
      display: flex;
    }
  }
}
